* {
    margin: 0;
    padding: 0;
}

body{ 
    color: red;
    height: 100vh;
}

#content {
    height: 100%;
    display: grid;
    grid-auto-rows: 3rem;

}

.box {
    display: grid;
    grid-template-columns: 0.5fr repeat(5, 1fr);

}

.el1, .nameInput {
    grid-column: 2 / 3;
}
.el2, .descInput {
    grid-column: 3 / 4;
}
.el3, .dateInput {
    grid-column: 4 / 5;
}
.el4, .priorityInput {
    grid-column: 5 / 6;
}
.editContainer {
    grid-column: 6 / 7;
}

.add {
    border: 1px solid red;
    height: 100%;
}
button {
    width: 4rem;
    height: 2rem;
}