@import url('https://rsms.me/inter/inter.css');

* {
    margin: 0;
    padding: 0;
    --bg: #0b0b0f;
    --grey: #696c80;
    --secondary: color: rgb(179, 0, 255);
}
@font-face {
    font-family: basetica;
    src: url(./assets/fonts/Basetica-Med.otf);
}
@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-Light.otf)
}
@font-face {
    font-family: gotham;
    src: url(./assets/fonts/Gotham-Light.otf);
}
/* @font-face {
    font-family: epilogue;
    src: url(./assets/fonts/);
} */

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
}
body{ 
    color: white;
    height: 100vh;
    background-color: #121212;
    background-size: cover;

}
.all {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 5rem 8fr;
    height: 100%;

    font-family: inter;
    font-size: 14px;
    

}

.title {
    font-family: inter; 
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(179, 0, 255);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    background-color: #121212;

}

p {
    word-break: break-all;
    height: 1.5rem;
    font-size: 1.5rem;
    
}

/* left side (pages) */
.textContent {
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding-left: 0.25rem;

}
.textContent p:hover {
    background-color: #242424;
    cursor: pointer;
}
.textContent p{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2rem;
    padding: 0.25rem 0.25rem;

}

.textContent div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0rem;


}

.textContent span {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;


}

.home {
    display: flex;
    align-items: center;
    width: 100%;
}
#newPage {
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    border: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#newPage:hover {
    background-color: rgb(179, 0, 255);
    cursor: pointer;
}   
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}
.pageButtons {
    display: flex;
    margin-top: 0.5rem;
}
.delBut {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0px;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.delBut:hover {
    cursor: pointer;
    background-color: rgb(179, 0, 255);
}
.projects {
    grid-column: 1 / 2;
    grid-row-start: 2;
    height: 100%;
    background-color: #111111;
    /* -webkit-box-shadow: 8px 0px 6px -6px black;
    -moz-box-shadow: 8px 0px 6px -6px black;
         box-shadow: 8px 0px 6px -6px black; */

         box-shadow: rgba(0, 0, 0, 0.45) 25px 25px 20px -20px;
}
.titleList {
    height: 3rem;
    display: flex;
    justify-content: center;
    /* color:rgb(179, 0, 255); */
    font-size: 2rem;

}
.inputContainer {
    height: 2.5rem;
    font-size: 2rem;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 8fr;
    padding-left: .5rem;

    
}
.inputContainer div {
    grid-column: 1 / 2;
    width: 100%;
    margin-left: 0.25rem;
}
.inputContainer input {
    grid-column: 2 / 3;
    margin-right: 5
    rem;

}
select {
    background-color: #181818;
    border: 0px;
    outline: 0px;
    color: var(--grey);
}
option {
    color: white;
}

.cancelPage, .submitPage, .cancel, .submit {
    background-color: transparent;
    border: 0px;
}
.cancelPage:hover, .submitPage:hover, .cancel:hover, .submit:hover {
    background-color: rgb(179, 0, 255);
    cursor: pointer;
}
/* right side  */
.openTaskContainer {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
}
.openTaskContainer:hover {
    border-bottom: 3px solid rgb(179, 0, 255);
    
    
    cursor: pointer;
}










/* right side (task layout) */
.rightSide {
    grid-row-start: 2;
    grid-column: 2 / 3;


}
.box, .categories , form{
    display: grid;
    grid-template-columns: 2rem repeat(3, 1fr) 8rem 5rem;

}
.categories{
    width: 100%;
    margin-bottom: 0.5rem;



}
.categories p {
    border-bottom: 1px solid rgb(179, 0, 255);

    height: 100%;



 
}
.box {
    height: 3rem;
    font-size: 1.25rem;
    border-radius: 10px;
}
.box:hover { 
    /* on hover we do border-left???? */
    background-color: #242424;
    border-left: 5px solid rgb(179, 0, 255);



}
form{
    width: 100%;
    grid-template-rows: 2rem 2rem 15fr;
}

/* right side (task elements (name, date, etc) */
.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.el1, .el2, .el3, .el4 {
    display: flex;
    align-items: center;
    word-break: break-all;
}
input, textarea {
    background-color: #181818;
    border: 0px;
    padding: 0.5rem;
    border-right: 2px solid #121212;
    color: white;

}

input:focus{
    border: 0px;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(179, 0, 255);
}
input[name="name"], .nameInput{
    grid-column: 2 /3;
}
input[name="desc"], .descInput {
    grid-column: 3 / 4;
}
input[name="date"], .dateInput {
    grid-column: 4 / 5;
}
input[type="date"]:focus::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.dateInput:focus {
    color: white;
}
select[name="priority"], .priorityInput{
    grid-column: 5 / 6;
    padding: 0.5rem;

}
.center {
    grid-column: 6 / 7;
    display: flex;
    justify-content: start;
}
.errorMsg{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
/* right side (edit and add) */
.editContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addButton, #cancelButton {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit, .cancel {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
#addButton:hover, #cancelButton:hover {
    background-color: rgb(179, 0, 255);
    cursor: pointer;
}
#content {
    height: 100%;
    display: grid;
    grid-auto-rows: repeat(autofit, minmax(5rem, 1fr));

    grid-column: 2 / 3;
}
.el5 {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px;
}
/* .el5:hover {
    background-color: rgb(179, 0, 255);
    cursor: pointer;

} */
.el5 svg:hover {
    fill: rgb(179, 0, 255);
    cursor: pointer;
}

.categories p {
    font-size: 14px;
}