* {
    margin: 0;
    padding: 0;
    --bg: #0b0b0f;
    --grey: #696c80;
}

body{ 
    color: var(--grey);
    height: 100vh;
    background-color: var(--bg);
    background-size: cover;

}
.all {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 5rem 8fr;
    height: 100%;
}

.title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    word-break: break-all;
    height: 1.5rem;
    font-size: 1.5rem;
    
}

/* left side (pages) */
.textContent {
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.textContent p:hover {
    background-color: lightgrey;
    cursor: pointer;
}
#newPage {
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    border: 0px;
    background-color: transparent;
}
#newPage:hover {
    background-color: lightgrey;
}   
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 1rem;
}
.pageButtons {
    display: flex;
    margin-top: 0.5rem;
}
.delBut {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: 0px;
    border-radius: 3rem;
}
.delBut:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.projects {
    grid-column: 1 / 2;
    grid-row-start: 2;
    border: 1px solid blue;
    height: 100%;
}
.titleList {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.inputContainer {
    height: 1.5rem;
}


/* right side  */
.openTaskContainer {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
}
.openTaskContainer:hover {
    background-color: lightgrey;
    cursor: pointer;
}










/* right side (task layout) */
.rightSide {
    grid-row-start: 2;
    grid-column: 2 / 3;
}
.box, .categories , form{
    display: grid;
    grid-template-columns: 3rem repeat(5, 1fr);

}
.categories{
    width: 100%;
}
.box {
    height: 2rem;
}
form{
    width: 100%;
    grid-template-rows: 2rem 2rem 15fr;
}

/* right side (task elements (name, date, etc) */
.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.el1, .el2, .el3, .el4 {
    display: flex;
    align-items: center;
    word-break: break-all;
}
input[name="name"], .nameInput{
    grid-column: 2 /3;
}
input[name="desc"], .descInput {
    grid-column: 3 / 4;
}
input[name="date"], .dateInput {
    grid-column: 4 / 5;
}
select[name="priority"], .priorityInput{
    grid-column: 5 / 6;
}
.center {
    grid-column: 6 / 7;
    display: flex;
    justify-content: center;
}
.errorMsg{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
/* right side (edit and add) */
.editContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addButton, #cancelButton {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 0px;
}
.submit, .cancel {
    height: 2rem;
    width: 2rem;
}
.add {
    border: 1px solid red;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addButton {
   background-image: url(./assets/images/done_FILL0_wght400_GRAD0_opsz24.png);
   background-repeat: no-repeat;
   background-position: center;
}
#addButton:hover {
    background-color: #323232;
}
#content {
    height: 100%;
    display: grid;
    grid-auto-rows: repeat(autofit, minmax(5rem, 1fr));
    gap: 0.75rem;
    grid-column: 2 / 3;
}
.el5 {
    height: 2rem;
    width: 2rem;
}


